body {
    background-color: rgb(238, 238, 238);
}
.navBar {
    background-color: #225f5f;
}

.button {
    background-color: rgb(53, 130, 160);
    color: white;
}

.button:hover {
    color: lightgray;
}

#createPost {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(218, 218, 218);
    background-color: white;
    margin: 10px 0px;
}

#createForum {
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(218, 218, 218);
    background-color: white;
    margin: 10px 0px;
}

/* #welcomeBody {
    background-image: url('../img/horizon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
} */

a#loginTab {
    color: rgb(53, 130, 160);
}

a#registerTab {
    color: rgb(53, 130, 160);
}

.no-marginLR {
    margin-left:0;
    margin-right:0;
}

.postImage {
    display: block;
    max-width:100%px;
    max-height:50vh;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

/* .postImageDiv {
    overflow: hidden;
} */

.forumCell {
    border-radius: 5px;
    padding: 10px;
}

.forumCell a {
    /* padding: 20px 20px; */
}